<html>
	<head>
		<link href="/assets/dist/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Photoss!!!</h1>
		<h2>this is the photos page</h2>

		<script src="assets/dist/main.js" ></script>
	</body>
</html>
