<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css'>		<link href="assets/style.css" type="text/css" rel="stylesheet" />
		<link href="/assets/dist/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>User: <%= ID %></h1>
		<h2>Querystring Value: <%= Qstr %></h2>

		<script src="/assets/dist/main.js" ></script>
	</body>
</html>
