<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css'>		<link href="assets/style.css" type="text/css" rel="stylesheet" />
		<link href="/assets/dist/style.min.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>User: <%= ID %></h1>
		<h2>Querystring Value: <%= Qstr %></h2>

		<script src="/assets/dist/main.min.js" ></script>
		<script src="https://code.jquery.com/jquery-2.2.1.min.js" ></script>
	</body>
</html>
